<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://kit.fontawesome.com/a305217dfb.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<div class="container">
  <div class="box">
  </div>

  <div class="rightbox">
    <div class="rb-container">
      <ul class="rb">
        <li class="rb-item" ng-repeat="itembx">
          <div class="timestamp">
            <i class="fa-solid fa-check" style="font-size:25px;"></i>
            3rd March 2022<br> 7:00 PM
          </div>
          <div class="item-title">Order Placed.</div>

        </li>
        <li class="rb-item" ng-repeat="itembx">
          <div class="timestamp">
            <i class="fa-solid fa-check" style="font-size:25px;"></i>
            19th March 2022<br> 3:00 PM
          </div>
          <div class="item-title">Item in process to be delivered.</div>

        </li>

        <li class="rb-item" ng-repeat="itembx">
          <div class="timestamp">
            <i class="fa-solid fa-clock" style="font-size:25px;"></i>
            7th April 2022<br> 5:00 PM
          </div>
          <div class="item-title">Item Dispatched.</div>

        </li>

        <li class="rb-item" ng-repeat="itembx">
          <div class="timestamp">
            <i class="fa-solid fa-clock" style="font-size:25px;"></i>
            10th April 2022<br> 7:00 PM
          </div>
          <div class="item-title">Item received by the warehouse.</div>

        </li>

        <li class="rb-item" ng-repeat="itembx">
          <div class="timestamp">
            <i class="fa-solid fa-clock" style="font-size:25px;"></i>
            15th April 2022<br> 7:00 PM
          </div>
          <div class="item-title">Item Delivered.</div>

        </li>

      </ul>

    </div>
  </div>
</div>